{{- define "main" -}}

<div class="row">

{{ partial "page_header.html" . }}

	<div class="article-container">


		<div class="col-md-10">
			    {{ .Content }}
 
{{ $url := "assets/csv/media.csv" }}	
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep $url  }} <!-- (dict "mediaarticles" (slice "author" "date" "outlet" "title" "language" "link")) -->
    {{ if ne $i 0 }}<!-- skip first row -->
            <p class="mt-1">
{{ index $r 1 }}, {{ if index $r 0 }}{{ index $r 0 }} on {{end}} {{index  $r 2}}. <a href= "{{index  $r 5 }}" >{{index  $r 3 }}</a> (in {{index  $r 4 }}).  {{ end }}</p>
        {{end}}
		</div>
	</div>


</div>

{{- end -}}
