/* Import ACM authorizer stylesheet*/
/* @import url("https://dl.acm.org/specs/products/acm/widgets/authorizer/scss/style.css"); */


/* twitter */

.twitter-follow-button {
    margin: 0px 0px -490px 0px;
    padding: 0px;
}

/* acm authorizer adapt */


/*
.multi-search .issue-item {
    padding: 15px;
    background: #fff;
    padding-bottom: 25px;
    margin: 0px 0px -280px 0px;
}


.multi-search .issue-item__detail {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.multi-search .issue-item__abstract {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    height: 20px;
}


.multi-search br {
    display: none;
}
 */


/* altmetric style adapt */

.altmetric-style {
    vertical-align:top;
    display:inline-block;
    margin-left:20px;
    margin-bottom:0px;
    padding-bottom:70px;
}


#awards_research .altmetric-style {
    padding-bottom:0px;
}


/* plumx */
.plumx {
    display:inline-block;
    margin-left:20px;
    vertical-align: top;
    clear:none;
}


/* dimensions.ai */
.__dimensions_badge_embed__ {
    vertical-align: top;
    display:inline-block;
    margin-left:20px;
    margin-bottom:0px;
    padding-bottom:70px;
    clear:none;
}

/* scimago, SJR badge */

.scimago {
    display:inline-block;
    clear:none;
    height:100px;
    width:100px;
    margin-left:20px;
    margin-right:20px;
    vertical-align:top;
}


/* chb stylesheet*/

table {
    display: block;
    overflow-x: auto;
}
th{
    font-weight: normal;
}

tbody tr:nth-child(odd){
    background-color: #EBEBEB;
}

tbody td{
    border-right: 1px dotted #D6D6D6;
}

.jif {
    background-color: #0088CC;
    color: #FFFFFF;
    pointer-events: none;
}


/* style for alert background*/
.alert-note {
    background-color: #0088CC;
    color: #FFFFFF;
}


/* color for alert icon*/
.article-style aside p::before, div.alert > div:first-child::before {
    color: #FFFFFF;
}

/* color for toggle background when open */
details p {
  border-left: 1px solid #0088CC;
  background-color: rgba(0, 136, 204, 0.1);
}