/* Import ACM authorizer stylesheet*/
/* @import url("https://dl.acm.org/specs/products/acm/widgets/authorizer/scss/style.css"); */


/* twitter */

.twitter-follow-button {
    margin: 0px 0px -490px 0px;
    padding: 0px;
}

/* acm authorizer adapt */


/*
.multi-search .issue-item {
    padding: 15px;
    background: #fff;
    padding-bottom: 25px;
    margin: 0px 0px -280px 0px;
}


.multi-search .issue-item__detail {
    margin: 0px 0px 0px 0px;
    padding: 0px;
}


.multi-search .issue-item__abstract {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-top: 0px;
    height: 20px;
}


.multi-search br {
    display: none;
}
 */


/* altmetric style adapt */

.altmetric-style {
    display:inline-flex;
    vertical-align:top;
    margin-left:15px;
    padding-bottom:60px;
    margin-bottom:0px;
    white-space: nowrap;
    box-sizing: border-box;  /* Includes padding and borders in the element's total width and height */
}


#awards_research .altmetric-style {
    padding-bottom:0px;
}


/* plumx */
.plumx {
    display:inline-flex;
    vertical-align: top;
    margin-left:20px;
    white-space:nowrap;
    clear:none;
    padding-bottom:60px;
    margin-bottom:0px;
}


/* dimensions.ai */

.__dimensions_badge_embed__ {
    display:inline-flex;
    vertical-align: middle;
    margin-left: 15px;
    margin-top: 0px;
    white-space: nowrap;
    align-items: center;  /* Aligns the content vertically if needed */
    box-sizing: border-box;  /* Includes padding and borders in the element's total width and height */
}

.__dimensions_badge_embed__::after {
    content: "";
    display: inline-flex;
    height: 70px; /* Ensures space below the badge */
}


/* scimago, SJR badge */

.scimago {
    display:inline-flex;
    vertical-align:top;
    clear: both;   /* Prevents overlap with floated elements */
    height:90px;
    width:90px;
    margin-left:20px;
    margin-right:20px;
    box-sizing: border-box;  /* Includes padding and borders in the element's total width and height */
}

.scimago img {
    max-width: 100%;  /* Prevents image overflow */
    height: auto;      /* Keeps aspect ratio */
}


/* chb stylesheet*/

table {
    display: block;
    overflow-x: auto;
}
th{
    font-weight: normal;
}

tbody tr:nth-child(odd){
    background-color: #EBEBEB;
}

tbody td{
    border-right: 1px dotted #D6D6D6;
}

.jif {
    background-color: #0088CC;
    color: #FFFFFF;
    pointer-events: none;
}

.zenodo {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    height: 26px;
}


/* style for alert background*/
.alert-note {
    background-color: #0088CC;
    color: #FFFFFF;
}


/* color for alert icon*/
.article-style aside p::before, div.alert > div:first-child::before {
    color: #FFFFFF;
}

/* color for toggle background when open */
details p {
  border-left: 1px solid #0088CC;
  background-color: rgba(0, 136, 204, 0.1);
}


mark {
  background-color: #FFA9D4; /* #FF69B4; gold; rgba(60, 144, 190, 0.1); cyan; fuchsia; lime; */
  margin-left: 0px;
  padding-left: 0px;
}