{{/* Initialise */}}
{{ $page := .wcPage }}
{{ $block := .wcBlock }}
{{ $title := $block.Params.title }}
{{ $subtitle := $block.Params.subtitle }}

  <div class="row">
      <div class="section-heading col-12 col-lg-4 mb-3 mb-lg-0 d-flex flex-column align-items-center align-items-lg-start">
     {{ with $title }}
      <h1 class="mb-0">{{ . | markdownify }}</h1>
    {{ end }} 
     {{ with $subtitle }}
      <p class="mt-1">{{ . | markdownify }}</p>
    {{ end }} 
    </div>
      
    <div class="article-container">
                <div class="row">


    {{ with $block.Content }}
      <div class="mt-1">{{ . }}</div>
    {{ end }}
    
{{ $url := "assets/csv/media.csv" }}
{{ $content := readFile $url }}
    {{ $options := dict "delimiter" "," }}
    {{ $rows := $content | transform.Unmarshal $options }}
    {{ range $i, $r :=  $rows }} <!-- (dict "mediaarticles" (slice "author" "date" "outlet" "title" "language" "link")) -->
        {{ if ne $i 0 }} <!-- Skip the first row -->
            <p class="mt-1">
                {{ if index $r 1 }}{{ index $r 1 }}, {{ end }} <!-- Author -->
                {{ if index $r 0 }}{{ index $r 0 }} on {{ end }} <!-- Date -->
                {{ index $r 2 }}. <!-- Outlet -->
                {{ if index $r 5 }}<a href="{{ index $r 5 }}" target="_blank">{{ end }} <!-- Link -->
                {{ index $r 3 }} <!-- Title -->
                {{ if index $r 5 }}</a>{{ end }} <!-- Close link -->
                (in {{ index $r 4 }}). <!-- Language -->
            </p>
        {{ end }}
    {{ end }}

    </div>
  </div>
</div>