{{/* Get JIF 2021 for journal name. */}}
{{ $rankingtitle := "rankingtitle" }}

{{ $url := "assets/csv/jif.csv" }}	
{{ $content := readFile $url }}
{{ $options := dict "delimiter" "," }}
{{ $rows := $content | transform.Unmarshal $options }}
{{ range $i, $r := $rows  }}
	{{ if eq $i 0 }}
		{{ $rankingtitle = ( index  $r 8 ) }}
	{{end}}
        {{ if and (strings.Contains  $.publication (index $r 0)) (index $r 8) }} <span class="btn btn-outline-primary btn-page-header btn-sm jif">{{ $rankingtitle }}: {{ index . 8}} </span>{{ end }}
    {{end}}


