{{/* Get publication ratings for journal name or conference shortname. */}}
{{ $publication := .publication }}
{{ $publication_short := .publication_short }}

{{partial "functions/chb_get_jif"  (dict "context" . "publication" $publication) }}
{{partial "functions/chb_get_core"  (dict "context" . "publication" $publication "publication_short" $publication_short) }}
{{partial "functions/chb_get_vhbrating"  (dict "context" . "publication" $publication "publication_short" $publication_short) }}
{{partial "functions/chb_get_ggs"  (dict "context" . "publication_short" $publication_short) }}
{{partial "functions/chb_get_sjrbadge"  (dict "context" . "publication" $publication) }}
